#content_info{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 100px 40px;
  gap: 20px;
}

#content_info h2 ,span{
  margin-right: 70px;
  font-size: 2.3rem;
}

#content_info h3{
  color: #1E1E1E;
  padding-bottom: 20px;
}

#content_info p{
  color: #1E1E1E;
  padding-bottom: 20px;
  letter-spacing: 2px;
  line-height: 1.5;
}

#content_info a , i{
  text-decoration: none;
  color:  #E58411;
}

#content_info img{
  width: 500px;
  height: 400px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#experiences{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 100px  0px;
  gap: 100px;
  background-color: #ffffff;
}

#experience_text{
  display: flex;
  flex-direction: column;
  max-width: 600px;
  gap: 40px;
  margin-right: 300px;
  
}

#experiences span{
  margin-right: 70px;
  font-size: 1.2rem;
  color: #E58411;
  
}

#experiences h2{
  font-size: 2.3rem;
}

#experiences p{
  color: #1E1E1E;
  letter-spacing: 2px;
  line-height: 1.5;
}

#experience_img img{
  width: 500px;
  height: 400px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#experience_img{
  display: flex;
  flex-direction: column;
  max-width: 600px;
  gap: 40px;
}

#experiences a , i{
  text-decoration: none;
  color:  #E58411;
}

#material_text{
  display: flex;
  flex-direction: column;
  max-width: 600px;
  gap: 40px;
  padding: 100px 40px;
}

#materials{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0px;
  gap: 0px;
  background-color: #ffffff;
}

#materials_text{
  display: flex;
  flex-direction: column;
  max-width: 600px;
  gap: 40px;
  margin-left: 200px;
  margin-right: 200px;
}

#materials_text span{
  margin-right: 70px;
  font-size: 1.2rem;
  color: #E58411;
  
}

#materials_text h2{
  font-size: 2.3rem;
}

#materials_text a , i{
  text-decoration: none;
  color:  #E58411;
}


#materials_text p{
  color: #1E1E1E;
  letter-spacing: 2px;
  line-height: 1.5;
}

#materials_img{
  display: flex;
  flex-direction: column;
  max-width: 600px;
  gap: 2px;
  position: relative;
  right: -20px;
}

#testimonials{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #ffffff;
  padding: 10px 0px 200px 0px;
}

#background_testimonials{
  background-image: url(../img/testimonialcard1.png);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 370px;
  height: 506px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
    
}
#background_testimonials2{
  background-image: url(../img/testimonialcard2.svg);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 370px;
  height: 506px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
    
}
#background_testimonials3{
  background-image: url(../img/testimonialcard3.svg);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 370px;
  height: 506px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
    
}

.testimonial_card{
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px;
  text-align: center;
  border-radius: 25px;
  width: 300px;
  margin-top: 80px;
}

.testimonial img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  top: 145px;
  right: 155px;
  border: 6px solid #ffffff;  
}


#testimonials_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

#testimonials span{
  font-size: 1.2rem;
  color: #E58411;
  margin-left: 70px;
  
}

#testimonials h2{
  font-size: 2.3rem;
}