#footer_container {
    display: flex;
    flex-direction: row;
    background-color: #f1f1f1;
    border-top: 1px solid #ccc;
    padding: 50px 20px;
    justify-content: space-evenly;
    align-items: center;
  
}

#footer_container h2 {
    font-size: 24px;
    color: #1E1E1E;
    font-weight: 700;
    margin-bottom: 10px;
}

#footer_container p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
    max-width: 300px;
    letter-spacing: 3px;
}

#footer_text {
    padding: 30px 60px 0px 80px;
    font-size: 14px;
    color: #333;
}

#footer_links {
    display: flex;
    flex-direction: row;
    gap: 80px;
}
#footer_links a {
    text-decoration: none;
    color: #333;
    font-size: 17px;
}

#footer_links h3 {
    margin-bottom: 10px;
    color: #F6973F;
    font-size: 17px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 40px;
}
