header{
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#hero{
  background-image: url("../img/hero.png");
  background-size: 100% auto; 
  background-position: center bottom;
  background-repeat: no-repeat;
  min-height: 100vh;
  height: auto; 
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#navbar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:  30px 50px;
}

#navlogo{
  color: #FFFFFF;
}

#nav_list{
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 48px;
}

#nav_list a{
  text-decoration: none;
  color: #FFFFFF;
}

#shop_icon{
  color: #FFFFFF;
  position: relative;
  cursor: pointer;
  font-size: 20px;
}

#number_icon{
  background-color: #E58411;
  border-radius: 25px;
  display: inline-block;
  padding: 1px 2px;
  font-size: 14px;
  position: absolute;
  top: -1px;
  right: -78px;
}

#content_text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#content_text h1{
  font-size: 4rem;
  font-weight: bold;
  color: #FFFFFF;
  padding: 50px;
  text-align: center;
}

#content_text h2{
  font-size: 1.5rem;
  font-weight: 100;
  color: #FFFFFF;
  padding: 10px;
  text-align: center;
}

.input-wrapper {
  position: relative;
  width: 300px;
  margin-top: 40px;
}

.input-wrapper i {
  position: absolute;
  left: 250px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #ffffff;
  background-color: #E58411;
  border-radius: 20px;
  display: inline-block;
  padding: 12px 12px;
}

.input-wrapper input {
  width: 100%;
  padding: 20px 12px 20px 35px; 
  border: 1px solid #ffffff;
  border-radius: 35px;
  outline: none;
  background: linear-gradient(to right, #ffffff34, #2b2a2a34);
}

input::placeholder{
  color: #FFFFFF;
  font-size: 17px;
  font-weight: 100;
}