#product{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F7F7F7;
  padding: 60px 30px;
}

#product h2{
  font-size: 48px;
  color: #1E1E1E;
  margin-bottom: 30px;
}

#products{
  display: flex;
  flex-direction: row;
  background-color: #EEEEEE;
  border-radius: 40px;
  padding: 15px;
  gap: 25px;
}
.produtc-item-active{
  background-color: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

#products a{
  display: flex;
  flex-direction: row;
  text-decoration:  none;
  color: #1E1E1E;  
  font-size: 18px;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 30px;
}



#cards{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #F7F7F7;
  padding-bottom: 300px;
  gap: 35px;
  position: relative;
}

#card_description .stars i{
  color: #FFB800;
  margin-right: 5px;
}

#card_description h3{
  font-size: 20px;
  color: #1E1E1E;
  font-weight: 600;
}

#card_description{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  background-color: #fff;
  border-radius: 0px  0px 20px 20px;

  
}

.card{
  width: 280px;
  height: 430px;
}


.card img{
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0px 0px;
}

#cards_container{
  display: flex;
  flex-direction: row;
  gap: 42px;
  padding: 20px;
  align-items: flex-start;
  justify-content: center;
  
}

.price{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price p{
  font-size: 24px;
  color: #1E1E1E;
  font-weight: 700;
}

.price button{
  width: 40px;
  height: 40px;
  background-color: #0D1B39;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  
}

.price button i{
  color: #fff;
}

.slider-arrow {
    background-color: #ffffff; 
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute; 
    cursor: pointer;
    z-index: 10; 
}

.slider-arrow i {
    
    color: #000000; 
    font-size: 1rem;
}

#prev_button {
    
    left: 280px; 
    top: 25%;
    transform: translateY(-50%);
}

#next_button {
    
    left: 1540px; 
    top: 25%;
    transform: translateY(-50%);
}